{% extends "dashboard.html" %}
{% block bookings %}
    <h4>Recent Bookings</h4>
    <div class=metanav></div>
    <table id="bookings_list" cellspacing="5" cellpadding="3">
        <tr>
            <th>Pickup Date</th>
            <th>Dropoff Date</th>
            <th>From</th>
            <th>To</th>
            <th>Shipment ID</th>
        </tr>
        {% if error %}
            <p class=error><strong>Note: </strong>{{error}}</p>
        {% else %}
            {% for booking in bookings %}
                <tr>
                    <td>{{booking.booking_source_stop}}</td>
                    <td>{{booking.booking_destination_stop}}</td>
                    <td>{{booking.booking_requested_pickup_date}}</td>
                    <td>{{booking.booking_requested_dropoff_date}}</td>
                    <td>{{booking.booking_shipment}}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <div class=metanav></div>
{% endblock %}
