{% extends "dashboard.html" %}
{% block journeys %}
    <h4>My Journeys</h4>
    <div class=metanav></div>
    <table id="bookings_list" cellspacing="5" cellpadding="3">
        <tr>
            <th>Requester</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>Navnit</td>
            <td>9/8/16</td>
            <td>10/8/16</td>
            <td>3000</td>
        </tr>
    </table>
    <div class=metanav></div>
{% endblock %}
