<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
<div class=page>
    <h1>Truckz</h1>
    <div class=metanav>
        {% if not session.logged_in %}
            <a href="{{url_for('show_customers')}}" method=post>Customer | </a>
            <a href="{{url_for('show_owners')}}" method=post>Owner</a>
        {% else %}
            <a href="{{url_for('profile_view')}}" method=post">{{session.get('user_name')}}</a>
            <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{message}}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
