{% extends "dashboard.html" %}
{% block profile %}
    <h4>My Profile</h4>
    <div class=metanav></div>
    <table id="profile_content" cellspacing="5" cellpadding="3">
        <tr>
            <td><b>Name</b></td>
            <td><em>Harish Navnit</em></td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td><em>harishnavnit@gmail.com</em></td>
        </tr>
        <tr>
            <td><b>Contact</b></td>
            <td><em>+919923442331</em></td>
        </tr>
        <tr>
            <td><b>Address</b></td>
            <td><em>Pune, Maharashtra</em></td>
        </tr>
    </table>
    <div class=metanav></div>
{% endblock %}
