{% extends "dashboard.html" %}
{% block trucks %}
    <h4>All Trucks</h4>
    <div class=metanav></div>
    <table id="trucks_list" cellspacing="5" cellpadding="3">
        <tr>
            <th>Model</th>
            <th>Weight</th>
            <th>Volume</th>
        </tr>
        <tr>
            <td>Tata Ace</td>
            <td>1500</td>
            <td>1500</td>
        </tr>
        <tr>
            <td>Tata Mini</td>
            <td>2000</td>
            <td>1500</td>
        </tr>
    </table>
    <div class=metanav></div>
{% endblock %}
