{% extends "dashboard.html" %}
{% block bookings %}
    <h4>Add Journey</h4>
    <form action="{{url_for('journeys.add_journeys')}}" method=post class=add-entry>
        <dl>
            <dt>Requester ID:       <dd><input type="text" size="20" name="recipient_id">
            <dt>Pickup Date:        <dd><input type="text" size="20" name="pickup_date">
            <dt>Dropoff Date:       <dd><input type="text" size="20" name="dropoff_date">
            <dt>Estimated Cost:     <dd><input type="text" size="20" name="rate">
            <dd><input type="submit" value="Submit">
        </dl>
    </form>
{% endblock %}
