{% extends "dashboard.html" %}
{% block journeys %}
    <h4>My Journeys</h4>
    <div class=metanav></div>
    <table id="bookings_list" cellspacing="5" cellpadding="3">
        <tr>
            <th>Provider ID</th>
            <th>Requester ID</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Cost</th>
        </tr>
        {% for journey in journeys %}
            <tr>
                <td>{{journey.journey_provider_id}}</td>
                <td>{{journey.journey_recipient_id}}</td>
                <td>{{journey.journey_pickup_date}}</td>
                <td>{{journey.journey_dropoff_date}}</td>
                <td>{{journey.journey_rate}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class=metanav></div>
{% endblock %}
