{% extends "dashboard.html" %}
{% block trucks %}
    <h4>All Trucks</h4>
    <div class=metanav></div>
    <table id="trucks_list" cellspacing="5" cellpadding="3">
        {% for truck in trucks %}
            <tr>
                <td>{{truck.truck_registration_number}}</td>
                <td>{{truck.truck_model}}</td>
                <td>{{truck.truck_weight}}</td>
                <td>{{truck.truck_volume}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class=metanav></div>
{% endblock %}
